<div class="modal-content" data-test-modal="onboarding-share">
    <header class="modal-header">
        <h1>Share your publication</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="share-card-container">
        {{#let (get-setting "coverImage") as |imageUrl|}}
            {{#if imageUrl}}
                <div class="share-card-image">
                    <img src={{imageUrl}} alt="" role="presentation" />
                </div>
            {{else}}
                <div class="share-card-image placeholder">{{svg-jar "picture"}}</div>
            {{/if}}

            <div class="share-card-content">
                <div class="share-card-title">{{get-setting "title"}}</div>
                <div class="share-card-description">
                    {{get-setting "description"}}
                </div>
            </div>
        {{/let}}
    </div>


    <span class="tip">Set your publication's cover image and description in <a href="settings/design/edit/?ref=share-modal" title="Adjust settings">Settings</a>.</span>

    <div class="copy-publication-link">
        <span>{{this.config.blogUrl}}</span>
        <GhTaskButton
            data-test-button="copy-share-link"
            @buttonText="Copy"
            @task={{this.copySiteUrl}}
            @successText="Copied!"
            @successClass="gh-share-link-success"
            @class="gh-btn-icon"
        />
    </div>

    <ul class="share-links">
        <li>
            <a href="https://twitter.com/intent/tweet?url={{this.encodedUrl}}" target="_blank" rel="noopener noreferrer" class="share-link" title="Share your publication on X">
                <span>{{svg-jar "social-x"}}</span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{this.encodedUrl}}" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on Facebook">
                <div class="share-link-content">
                    <span>{{svg-jar "social-facebook"}}</span>
                </div>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{this.encodedUrl}}" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on LinkedIn">
                <div class="share-link-content">
                    <span>{{svg-jar "social-linkedin"}}</span>
                </div>
            </a>
        </li>
    </ul>
</div>